form {
      text-align:center;
      padding:20px;
      background-image:url("images/cs7.jpeg");
      background-repeat:no-repeat;
      background-size:cover;
      background-position:center;
      background-attachment:fixed;
}